@model MyElearningProject.DAL.Entities.Student
@{
    ViewBag.Title = "UpdateProfile";
    Layout = "~/Views/StudentLayout/Index.cshtml";
}

<h2>Profilini Güncelle!</h2>
<form method="post">
    <br />
    <input type="hidden" name="StudentID" value="@Model.StudentID" />
    <label>Öğrenci Adı</label>
    <input type="text" name="Name" value="@Model.Name" class="form-control" />
    <br /><br />
    <label>Öğrenci Soyadı</label>
    <input type="text" name="Surname" value="@Model.Surname" class="form-control" />
    <br /><br />
    <label>Öğrenci Mail</label>
    <input type="text" name="Email" value="@Model.Email" class="form-control" />


    <br /><br />
    <label>Öğrenci Kullanıcı adı</label>
    <input type="text" name="Username" value="@Model.Username" class="form-control" />
    <br /><br />
    <label>Öğrenci Şifre</label>
    <input type="password" name="Password" value="@Model.Password" class="form-control" />
    <br /><br />
    <label>Öğrenci Görseli</label>
    <input type="text" name="ImgUrl" value="@Model.ImgUrl" class="form-control" />
    <br /><br /><br /><br />
    <button class="btn btn-primary">Öğrenciyi Güncelle</button>
</form>

